<section class="footer" id="footer">
  <div class="wrapper">
    <div class="top">
      <div class="logo">
        <img src="/public/img/naai_logo_2.png" alt="NAAI Logo" />
      </div>
      <div class="info">
        <div class="contact">Contact Us:</div>
        <div class="email">dev.raw.9461@gmail.com</div>
        <div class="phonenumber">+91 92053 28688</div>
      </div>
    </div>
    <hr />
    <div class="bottom">
      &copy; 2023 Digiblip Private Limited. All rights reserved.
    </div>
  </div>
</section>
