<section class="salon-header">
  <div class="wrapper">
    <div class="logo">
      <img src="/public/img/naai_logo_1.png" alt="NAAI Logo" />
    </div>
    <a href="#footer">
      <div class="set-up-button">Set Up My Business</div>
    </a>
  </div>
</section>
