/* Footer CSS */
.footer {
    height: 300px;
    background-color: #a0153a !important;
    display: flex;
    width: 100%;
    color: white;
    font-weight: 300;
    font-family: "Inter";
  }
  
  .footer .wrapper {
    margin: 6rem 6rem;
    width: 100%;
    padding: 0px 2rem;
  }
  
  .footer .wrapper .top .info {
    display: flex;
    justify-content: space-between;
  }
  .footer .wrapper .top .info div {
    margin-right: 10px;
  }
  
  .footer .wrapper .top .info .contact {
    font-weight: 500;
  }
  
  .footer .wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer .wrapper .logo img {
    width: 65px;
  }
  
  .footer .wrapper .bottom {
    margin-top: 1rem;
  }
  